<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ashraf</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@1000;2000;3000;4000;5000;6000;7000;8000;9000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="leftsidebar">
      <div
        class="sidebar-header d-flex align-items-center justify-content-between"
      >
        <img class="logo" src="../Components/Icon/Logo1.png" alt="Logo" />
        <span class="designation">Graphic Designer &amp; Developer</span>
      </div>
      <img class="me" src="../Components/Images/PrflPic3.png" alt="Me" />
      <h2 class="email">rifo0118@gmail.com</h2>
      <h2 class="address">Base in Bashundhara, Dhaka</h2>
      <p class="copyright">© 2026 Ashraf, All Rights Reserved</p>
      <ul class="socialmedia">
        <li>
          <a href="#" alt="Facebook"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" alt="Twitter"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" alt="Instagram"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#" alt="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
      <button class="hire">Hire Me</button>
    </div>
    <div class="rightsidebar">
      <header>
        <nav class="navbar">
          <ul class="navigation">
            <li>
              <a href="../View/view.html"><i class="fas fa-home"></i></a>
            </li>
            <li>
              <a href="../View/about.html"><i class="fas fa-user"></i></a>
            </li>
            <li>
              <a href="../View/portfolio.html"
                ><i class="fas fa-briefcase"></i
              ></a>
            </li>
            <li>
              <a href="../View/services.html"><i class="fas fa-cogs"></i></a>
            </li>
            <li>
              <a target="#Contact"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="Home">
        <h2>Introduction</h2>
        <p class="Homeheading">Hi there! I'm<span> Ashraf</span></p>
        <p class="HomeDetails">
          A dedicated Graphic Designer and Developer with a passion for creating
          visually appealing and functional digital experiences. Based in
          Bashundhara, Dhaka, I specialize in blending creativity with
          technology to deliver exceptional results. Explore my portfolio to see
          my work and feel free to reach out for collaborations or inquiries.
        </p>
      </section>

      <section class="About">
        <h2>About Me</h2>
        <p class="Aboutheading">
          Every great design begin with an even <span>better story</span>
        </p>
        <p class="AboutDetailss">
          I'm a passionate Graphic Designer and Developer with a strong focus on
          creating visually stunning and user-friendly digital experiences. My
          journey in design and development has allowed me to blend artistic
          vision with technical expertise, resulting in compelling and effective
          solutions.
        </p>
      </section>
      <section class="Resume">
        <h2>Resume</h2>
        <div class="education">
          <h3>American International university Of Bangladesh</h3>
          <p>Bachelor of Science in Computer Science and Engineering</p>
          <span>2022 - 2026</span>
        </div>
        <div class="experience"></div>
      </section>
      <section class="Work">
        <h2>My Work</h2>
        <div class="design">
          
        </div>
      </section>
      <section class="Contact">
        <h2>Contact Me</h2>
        <p class="ContactHeading">Let's works <span> together</span></p>
        <div class="ContactForm">
          <form action="#">
            <input type="text" placeholder="Your Name" required />
            <input type="email" placeholder="Your Email" required />
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
              required
            ></textarea>
            <button type="submit" class="sendbtn">Send Message</button>
          </form>
        </div>
        <div class="links">
          <li>
            <a href=""><i class="fas fa-envelope"></i></a>
          </li>
          <li>
            <a href=""><i class="fas fa-phone"></i></a>
          </li>
          <li>
            <a href=""><i class="fas fa-globe"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-github"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </li>
        </div>
      </section>
    </div>
  </body>
</html>
